/* 首页自我介绍部分 */
.intro {
    margin: auto 0;
}

.intro .intro-content h1 {
    margin: 60px 0;
    font-size: 40px;
    font-weight: 400;
}

/* 一张随时更换的抽象画 */
.intro .intro-content .intro-art img {
    /* position: relative; */
    width: 360px;
    height: 480px;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 60px;
    transition: all .3s;
    /* pointer-events: none; */
}

/* 图片放大动画 */
.intro .intro-content .intro-art img:hover {
    transform: scale(1.1);
}


/* 首页适配移动端 */
@media only screen and (max-width: 550px) {
    .intro {
        margin: 0 0;
    }

    .intro .intro-content .intro-art {
        display: flex;
    }

    .intro .intro-content .intro-art img {
        margin: 0 auto 60px auto;

        width: 100%;

    }

    /* 图片放大动画 */
    .intro .intro-content .intro-art img:hover {
        transform: none
    }
}